* {
    color: white;
}

html,
body {
    height: 100vh;
}

body {
    background-color: black;
}
/* main header */
header {
    text-align: center;
    margin-top: 75px;
    margin-bottom: 75px;
}

.highscores {
    font-size: x-large;
    padding: 10px;
}

.highscores span:hover {
    color: mediumslateblue;
}

.time-limit {
    padding: 10px;
    font-size: x-large;
}

/* card */
.card {
    text-align: center;
    border: 3px white;
    border-style: dashed;
    border-radius: 15px;
    max-width: 40%;
    height: 350px;
    margin: auto;

}
ul {
  padding: 0;
}
/* start button */
.btn {
    background-color: yellow;
    color: black;
    border-radius: 5px;
    border: 8px;
    margin: 150px;
    font-size: x-large;
}

.btn:hover{
    background-color: violet;
}

.score {
    text-align: center;
    font-size: x-large;

}